<% include layout/header %>
  <% if (posts.length) { %>
    <% posts.forEach(function(entry) { %>
      <div class="panel panel-default">
        <div class="panel-heading">
            <div class="text-muted pull-right">
              <%= entry.published %>
            </div>
            <%= entry.title %>
        </div>
        <div class="panel-body">
          <%= entry.body %>
        </div>
      </div>
    <% }) %>
  <% } else { %>
  <div class="alert alert-warning">No entries! <a href="/post">Add one!</a></div>
  <% } %>
<% include layout/footer %>
